export LANG="en_US.UTF-8"
export LANGUAGE="en_US.UTF-8"
export LC_ALL="fr_FR.UTF-8"

export INPUTRC="$HOME/.inputrc"
export EDITOR="micro"

export HISTSIZE=999999999
export HISTFILESIZE=$HISTSIZE
export SAVEHIST=$HISTSIZE

export COMPOSER_HOME="$HOME/.composer"

export GOROOT=/usr/local/go
export GOPATH=$HOME/workspace/go
export GOBIN=$HOME/workspace/go/bin

export JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
export JAVA_OPTIONS=-Xmx512M

PATH="$HOME/bin:$PATH"
PATH="$HOME/.local/bin:$PATH"
PATH="$HOME/.composer/vendor/bin:$PATH"
PATH="$HOME/.deno/bin:$PATH"
PATH="$HOME/.cargo/bin:$PATH"
PATH="$HOME/.pyenv/bin:$PATH"
PATH="$HOME/app:$PATH"
PATH="$HOME/app/phpstorm/bin:$PATH"
PATH="$HOME/.symfony/bin:$PATH"
PATH="$HOME/.pulumi/bin:$PATH"
PATH="$GOROOT/bin:$PATH"
PATH="$JAVA_HOME/jre/bin:$PATH"

# proxy
#export http_proxy=http://some.host:8080
#export HTTP_PROXY=$http_proxy
#export https_proxy=$http_proxy
#export HTTPS_PROXY=$http_proxy
#export HTTP_PROXY=$http_proxy
#export HTTP_PROXY=$http_proxy
#export HTTP_PROXY_REQUEST_FULLURI=true
#export HTTPS_PROXY_REQUEST_FULLURI=false
